@mixin border-radius($tl-radius,$tr-radius,$br-radius,$bl-radius){
	-webkit-border-radius: $tl-radius $tr-radius $br-radius $bl-radius;
	-moz-border-radius: $tl-radius $tr-radius $br-radius $bl-radius;
	-ms-border-radius: $tl-radius $tr-radius $br-radius $bl-radius;
	border-radius: $tl-radius $tr-radius $br-radius $bl-radius;
} 

/* override of default dialog styles */
.ui-dialog .ui-dialog-content {
	padding: 0;
}

.dialog_main {
	width: 500px;
	max-width:500px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: white;
	visibility: hidden; 
	display:inline-block;
}

.dialog_card {
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	min-width: 100%;
	display: inline-block;
}

.dialog_content {
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	text-align: center; 
}

.dialog_top_bar {
	position: absolute;
	background-color: #52D8F7;
	width: 100%;
	height: 50px;
	z-index: -1; 
}

.dialog_card_menu_row {
	position:absolute;
	left:20px;
	top:15px;
	width:80px;
}

.dialog_price {
	position: absolute;
	left: 85%;
	top: 15px;
	width: 50px;
	color: #fff;
	font-size: 1.1em; 
}

.dialog_photo {
	width: 80px;
	margin-top: 1em; 
}

.dialog_name {
	color: #00B2F0;
	font-size: 1.5em;
	margin: 0 auto;
	margin-top: 1.5%;
	width: 100%;
	font-weight: lighter; 
}

.dialog_title {
	color: #999;
	font-size: .8em;
	margin: 0 auto;
	width: 100%;
	font-weight: lighter; 
}

.dialog_title_border {
	border-bottom: 2px #D6F5FA solid;
	width: 50%;
	margin: 0 auto;
	display: block;
	height: 1.3em; 
}

.dialog_quote {
	color: #999;
	font-size: .8em;
	margin: 0 auto;
	margin-top: 9%;
	margin-bottom: 9%;
	width: 90%;
	font-weight: lighter;
	min-height: 80px; 
}

.dialog_skills {
	width: 90%;
	height: 130px;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: block; 
}

.dialog_skill {
	border: 1px solid #ccc;
	padding: .3em .8em;
	font-size: .7em;
	color: #999;
	margin: .25em .25em;
	float: left;
	display: block;
	position: relative;
	
	@include border-radius(10px,10px,10px,10px); 	
}

.dialog_blue {
	background-color: #00AEEF;
	color: white; 
}

.dialog_buttons {
	border-top: 2px #D6F5FA solid;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 2em 0;
	background-color: #FAFAFA; 

}

.dialog_portfolio {
	color: white;
	font-size: 1em;
	margin: 0 auto;
	height: 3em;
	width: 50%;
	background-color: #00AEEF;
	border: none;
	cursor: hand;
	cursor: pointer;
	outline:none;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	border: 0px;

	@include border-radius(10px,10px,10px,10px);

}

.bg-red {
	background-color:#F75252;
}

.dialog_portfolio:hover {
	background: #00AEEF; 
}

.dialog_social_bar {
	margin-top: 1.5em; 
}

/* dialog form styles */

.dialog_form {
	width: 500px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: white;
	visibility: hidden; 
}

.dialog_top_bar-form_bar {
	width:100%;
	position: relative;
	height: 35px;
	background-color: #52D8F7;
	color:white;
	margin:0 0 5px 0;
	padding-top:15px;
	font-size: 1.2em;
}

.dialog_form_items {
	background-color:white;
	text-align: center;
	padding:0 0 10px 0;
	width:100%;
}
.dialog_form_row {
	margin:5px 10px;
	width:100%;
	display:inline-block;

	.textarea-quote {
		width:100%;
		height:50px;
		max-height:50px;
	}
}
.dialog_form_row .icon {
	float:left;
	height:50px;
	width:10%;
	padding:0;
	border: 1px solid #EBEBEB;
	margin:0;

}

/*eventually use an include and make a new scss for just icons*/
.icon-name {
	background:url('../images/icon_user.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-title {
	background:url('../images/icon_card.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-sub_title {
	background:url('../images/icon_card.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-skills {
	background:url('../images/icon_skills.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-count {
	background:url('../images/icon_like.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-description {
	background:url('../images/icon_comment.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-quote {
	background:url('../images/icon_comment.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-available {
	background:url('../images/icon_check.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-price {
	background:url('../images/icon_user.png') no-repeat 13px 12px;
	opacity: .3;
}
.icon-avatar {
	background:url('../images/icon_user.png') no-repeat 13px 12px;
	opacity: .3;
}

.dialog_form_row input[type="text"] {
	float:left;
	height:50px;
	width:83%;
	padding:0 0 0 10px;
	outline: none;
	border: 1px solid #EBEBEB;
	background-color:#FCFCFC;
	font-size: .9em;
	color:#999;
}

.dialog_form_row input:focus {
	/*outline: none;*/
	background-color: #E3F5FA;
	border-color:#E3F5FA;
	color:#00AEEF;

}
.dialog_form_row input:blur {
	background-color: #FCFCFC;
	border-color:#EBEBEB;
	color:#999;
}


.dialog_form_row textarea {
	float:left;
	padding:0 0 0 10px;
	outline: none;
	border: 1px solid #EBEBEB;
	background-color:#FCFCFC;
	width:83%;
	max-width: 83%;
	height:50px;
	max-height: 50px;
	font-size: .9em;
	color:#999;


}

.dialog_form_row textarea:focus {
	/*outline: none;*/
	background-color: #E3F5FA;
	border-color:#E3F5FA;
	color:#00AEEF;

}
.dialog_form_row textarea:blur {
	background-color: #FCFCFC;
	border-color:#EBEBEB;
	color:#999;
}

.dialog_form {
	background-color:#DBE0EA;
	ul{
		margin:5px;
		padding:0;
		li{
			background-color:white;
			text-align: left;
			list-style: none;
			margin: 2px;
			padding: 5px 0 5px 10px;
			cursor: pointer;
			border: 1px solid #ccc;
		}
		li:hover {
			background-color: #E3F5FA;
			border-color:#E3F5FA;
			color:#00AEEF;
		}
	}
}